{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chest1000headerred.png",
      "fileBody" : "/interface/chests/chest1000bodyred.png",
      "fileFooter" : "/interface/chests/chest1000footerred.png"
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [330, 26]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 41],
      "dimensions" : [40, 25],
      "spacing" : [17, 17],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "<slots> SLOTS",
      "hAnchor" : "mid",
      "position" : [330, 480]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/chest1000shine.png",
      "position" : [0, 0]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [670, 480]
    }
  }
}